<form class="" (ngSubmit)="onSubmitQuoteForm(quoteForm)" #quoteForm="ngForm">
    <div class="">
        <label for="name">Name: </label>
        <input type="text" name="name" value="" [(ngModel)]="user.name">
    </div>
    <div class="">
        <label for="email">E-mail: </label>
        <input type="text" name="email" value="" [(ngModel)]="user.email">
    </div>
    <div class="">
        <label for="password">Password</label>
        <input type="text" name="password" value="" [(ngModel)]="user.password">
    </div>
    <div class="">
        <label for="bday">Birthday</label>
        <input type="text" name="bday" value="" [(ngModel)]="user.birthday">
    </div>
</form>

<hr>
